#contacts {
    margin-top: 5%;
}

.contact {
   font-family: 'Montserrat', sans-serif;
   border-bottom: 1px solid #000;
}

.form {
    margin: 5%;
}
.email {
    color: white;
}
.icon {
    background-color:  #e48951;
    padding: 5%;
}
 i {
     color: white;
 }